<!DOCTYPE html>
<html>
<head>
    <center>
        <table border="1" width="700">
            <tr>
                <td colspan="2" align="center">Personnal Information</td>
                    </tr>
                    <tr>
                <td align="center">Name:</td><td align="center">Sammi Zhang</td>
                    </tr>
                    <tr>
                <td align="center">University:</td><td align="center">HKU</td>
                    </tr>
                    <tr>
                <td align="center">Major:</td><td align="center">STEM Eucation</td>
                    </tr>
                    <tr>
                <td align="center">ID:</td><td align="center">3036123614</td>
                    </tr> 
                    <tr>
                <td align="center">Motto:</td>><td align="center"><a href="https://www.xiaohongshu.com/user/profile/5be79844e4034f00015d3def"> Aspire to explore the beauty of the world</a ></td>
                    </tr> 
                    <tr>
                 <td colspan="2" align="center">More Information</td>
                    </tr>
                    <tr>
                <td colspan="2" align="center"><img src="personalcard .jpg" width="700"> </td>
                   </tr>
        </table>    
    </center>
  
   
</body>
</html>